/**
 * Copyright Kyndryl, Inc. 2022
 */

@import '../variables/index';
@import '../utilities/index';
@import '../themes/index';

.#{$prefix-class}-btn {
  @include padding(top bottom, 1);
  @include padding(right left, 3);
  -webkit-transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  font-size: var(--kd-font-size-04);
  line-height: var(--kd-font-height-04);
  font-weight: var(--kd-font-weight-button);
  font-family: var(--kd-font-family-button);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
  &:focus,
  &:active {
    text-decoration: none;
    &--icon {
      text-decoration: none;
    }
  }
  &:hover {
    text-decoration: none;
  }
  &--icon {
    display: inherit;
    font-size: var(--kd-font-size-button-icon);
    font-weight: var(--kd-font-weight-button-icon);
  }
}

.#{$prefix-class}-btn-icon-left {
  flex-direction: row-reverse;

  .#{$prefix-class}-btn--icon {
    @include margin(right, 1);
  }
}

.#{$prefix-class}-btn-icon-right {
  .#{$prefix-class}-btn--icon {
    @include margin(left, 1);
  }
}

.#{$prefix-class}-btn-lg {
  @include padding(top bottom, 2);
}

.#{$prefix-class}-btn-sm {
  @include padding(right left, 2);
  font-size: var(--kd-font-size-03);
  line-height: var(--kd-font-height-03);
}

.#{$prefix-class}-btn-primary {
  @extend .#{$prefix-class}-btn;
  color: var(--kd-color-button-primary-text);
  border-color: var(--kd-color-button-primary-border);
  background-color: var(--kd-color-button-primary-bg);
  &:focus,
  &:active {
    color: var(--kd-color-button-primary-active-text);
    border-color: var(--kd-color-button-primary-active-border);
    background-color: var(--kd-color-button-primary-active-bg);
  }
  &:hover {
    color: var(--kd-color-button-primary-hover-text);
    border-color: var(--kd-color-button-primary-hover-border);
    background-color: var(--kd-color-button-primary-hover-bg);
  }
}

.#{$prefix-class}-btn-secondary {
  @extend .#{$prefix-class}-btn;
  color: var(--kd-color-button-secondary-text);
  border-color: var(--kd-color-button-secondary-border);
  background-color: var(--kd-color-button-secondary-bg);
  &:focus,
  &:active {
    color: var(--kd-color-button-secondary-active-text);
    border-color: var(--kd-color-button-secondary-active-border);
    background-color: var(--kd-color-button-secondary-active-bg);
  }
  &:hover {
    color: var(--kd-color-button-secondary-hover-text);
    border-color: var(--kd-color-button-secondary-hover-border);
    background-color: var(--kd-color-button-secondary-hover-bg);
  }
}

.#{$prefix-class}-btn-text {
  @extend .#{$prefix-class}-btn;
  color: var(--kd-color-button-link-text);
  border-color: var(--kd-color-button-link-border);
  background-color: var(--kd-color-button-link-bg);
  &:focus,
  &:active {
    color: var(--kd-color-button-link-hover-text);
    border-color: var(--kd-color-button-link-hover-border);
    background-color: var(--kd-color-button-link-hover-bg);
    text-decoration: underline;
  }
  &:hover {
    color: var(--kd-color-button-link-active-text);
    border-color: var(--kd-color-button-link-active-border);
    background-color: var(--kd-color-button-link-active-bg);
    text-decoration: underline;
  }
}
