/**
 * Copyright Kyndryl, Inc. 2022
 */
 
@use 'sass:map';

@import '../variables/index';
@import '../utilities/index';

.#{$prefix-class}-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--kd-color-brand-dark-white);

  .#{$prefix-class}-tab {
    @include padding(top bottom, 2);
    @include padding(right left, 3);
    @include margin(right, 1);
    display: inline-block;
    font-size: var(--kd-font-size-02);
    color: var(--kd-color-brand-earth);
    text-decoration: none;
    margin-bottom: -2px;
    background: transparent;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    cursor: pointer;
    &:hover {
      color: var(--kd-color-brand-dark-stone);
    }
    &.#{$prefix-class}-selected,
    &:focus,
    &:active {
      color: var(--kd-color-brand-warm-red);
      font-weight: var(--kd-font-weight-bold);
      border-bottom-color: var(--kd-color-brand-warm-red);
    }
  }
}
