
@import '../../styles/variables';
@import '../../styles/components/tabs';

:host(#{$prefix-tag}-tabs) {
  .#{$prefix-class}-tabs {
    [role='tablist'] {
      @extend .#{$prefix-class}-tab-list;
      [role='tab'] {
        @extend .#{$prefix-class}-tab;
        &[aria-selected='true'] {
          @extend .#{$prefix-class}-selected;
        }
      }
    }
  }
}
