@import '../variables/colors';

.kd-theme-dark-stone {
  --kd-color-token-base: var(--kd-color-brand-dark-stone);
  --kd-color-token-inverse: var(--kd-color-brand-cloud);
  --kd-color-token-interactive: var(--kd-color-brand-cloud);
  --kd-color-token-accent: var(--kd-color-brand-cloud);

  @include css-vars-color-usage;
}
