@use 'sass:map';

@import './variables';
@import './utilities';
@import './typeography';

.#{$class-prefix}-accordion-item {
  @include padding(left right, 1);
  @include margin(right, 1);
  border-width: 0 0 1px 0;
  border-color: var(--kd-color-brand-sage);
  border-style: solid;
  display: block;

  .#{$class-prefix}-accordion-item-header {
    @extend .#{$class-prefix}-h6;
    display: block;
    background: none;
    border: 0;
    position: relative;
    text-align: left;
    width: 100%;




    &:after {
      position: absolute;
      right: 0;
      content: '+';
    }

    &.opened:after {
      content: '-';
    }

    & + .#{$class-prefix}-accordion-item-detail-wrapper {
        visibility: hidden;
    }

    &.opened + .#{$class-prefix}-accordion-item-detail-wrapper {
      height: auto;
      transition: height 0.5s ease;
      visibility: visible;
    }

  }

  .#{$class-prefix}-accordion-item-detail-wrapper {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
  }
}
