@import './util';
@import './vars';
@import './variables';
@import './themes';

// @TODO: Add button icons.

.#{$class-prefix}-btn {
  @include padding(top bottom, 1);
  @include padding(right left, 3);
  -webkit-transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
  &:focus,
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  .#{$class-prefix}-icon {
    @include margin(left, 1);
    font-size: #{px2rem(14)};
    font-weight: $font-weight-bold;
  }
}

.#{$class-prefix}-btn-lg {
  @include padding(top bottom, 2);
}

.#{$class-prefix}-btn-sm {
  @include padding(right left, 2);
  font-size: 87.5%;
  line-height: 1rem;
  .#{$class-prefix}-icon {
    @include margin(left, 1);
    font-size: 87.5%;
    font-weight: $font-weight-bold;
  }
}

.#{$class-prefix}-btn-primary {
  @extend .#{$class-prefix}-btn;
  color: var(--kd-color-button-primary-text);
  border-color: var(--kd-color-button-primary-border);
  background-color: var(--kd-color-button-primary-bg);
  &:focus,
  &:active {
    color: var(--kd-color-button-primary-active-text);
    border-color: var(--kd-color-button-primary-active-border);
    background-color: var(--kd-color-button-primary-active-bg);
  }
  &:hover {
    color: var(--kd-color-button-primary-hover-text);
    border-color: var(--kd-color-button-primary-hover-border);
    background-color: var(--kd-color-button-primary-hover-bg);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-btn-primary-color;
    border-color: $inverted-btn-primary-border;
    background-color: $inverted-btn-primary-background;
    &:focus,
    &:active {
      color: $inverted-btn-primary-color-active;
      border-color: $inverted-btn-primary-border-active;
      background-color: $inverted-btn-primary-background-active;
      text-decoration: none;
    }
    &:hover {
      color: $inverted-btn-primary-color-hover;
      border-color: $inverted-btn-primary-border-hover;
      background-color: $inverted-btn-primary-background-hover;
      text-decoration: none;
    }
  }
}

.#{$class-prefix}-btn-secondary {
  @extend .#{$class-prefix}-btn;
  color: var(--kd-color-button-secondary-text);
  border-color: var(--kd-color-button-secondary-border);
  background-color: var(--kd-color-button-secondary-bg);
  &:focus,
  &:active {
    color: var(--kd-color-button-secondary-active-text);
    border-color: var(--kd-color-button-secondary-active-border);
    background-color: var(--kd-color-button-secondary-active-bg);
  }
  &:hover {
    color: var(--kd-color-button-secondary-hover-text);
    border-color: var(--kd-color-button-secondary-hover-border);
    background-color: var(--kd-color-button-secondary-hover-bg);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-btn-secondary-color;
    border-color: $inverted-btn-secondary-border;
    background-color: $inverted-btn-secondary-background;
    &:focus,
    &:active {
      color: $inverted-btn-secondary-color-active;
      border-color: $inverted-btn-secondary-border-active;
      background-color: $inverted-btn-secondary-background-active;
      text-decoration: none;
    }
    &:hover {
      color: $inverted-btn-secondary-color-hover;
      border-color: $inverted-btn-secondary-border-hover;
      background-color: $inverted-btn-secondary-background-hover;
      text-decoration: none;
    }
  }
}

.#{$class-prefix}-btn-text {
  @extend .#{$class-prefix}-btn;
  color: var(--kd-color-button-link-text);
  border-color: var(--kd-color-button-link-border);
  background-color: var(--kd-color-button-link-bg);
  &:focus,
  &:active {
    color: var(--kd-color-button-link-hover-text);
    border-color: var(--kd-color-button-link-hover-border);
    background-color: var(--kd-color-button-link-hover-bg);
    text-decoration: underline;
    .#{$class-prefix}-icon,
    .#{$class-prefix}-icon * {
      text-decoration: none;
    }
  }
  &:hover {
    color: var(--kd-color-button-link-active-text);
    border-color: var(--kd-color-button-link-active-border);
    background-color: var(--kd-color-button-link-active-bg);
    text-decoration: underline;
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-link;
    &:focus,
    &:active {
      color: $inverted-link-active;
    }
    &:hover {
      color: $inverted-link-hover;
    }
  }
}
