/**
  This file cannot be referenced inside other sass files. It is only to be imported in a *global* stylesheet.
 */
@charset "utf-8";
@font-face {
  font-family: 'icons-ibm-v12';
  src: url(lib/fonts/icons-ibm-v12.eot);
  src: url(lib/fonts/icons-ibm-v12.woff) format('woff'),
    url(lib/fonts/icons-ibm-v12.ttf) format('truetype'),
    url(lib/fonts/icons-ibm-v12.svg#icons-ibm-v12) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'icons-ibm-v12';
    src: url(lib/fonts/icons-ibm-v12.svg#icons-ibm-v12) format('svg');
    font-display: swap;
  }
}
@font-face {
  font-family: 'kyndryl-Icons';
  src: url(lib/fonts/kyndryl-Icons.eot);
  src: url(lib/fonts/kyndryl-Icons.eot) format('embedded-opentype'),
    url(lib/fonts/kyndryl-Icons.ttf) format('truetype'),
    url(lib/fonts/kyndryl-Icons.woff) format('woff'),
    url(lib/fonts/kyndryl-Icons.svg) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-HairlineItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-HairlineItalic-web.woff) format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Hairline-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Hairline-web.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-ThinItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-ThinItalic-web.woff) format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Thin-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Thin-web.woff) format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-UltralightItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-UltralightItalic-web.woff) format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Ultralight-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Ultralight-web.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-LightItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-LightItalic-web.woff) format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett Light;
  src: url(lib/fonts/TWKEverett-Light-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Light-web.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-RegularItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-RegularItalic-web.woff) format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Regular-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Regular-web.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-MediumItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-MediumItalic-web.woff) format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Medium-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Medium-web.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-BoldItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-BoldItalic-web.woff) format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Bold-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Bold-web.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-ExtraboldItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-ExtraboldItalic-web.woff) format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Extrabold-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Extrabold-web.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-BlackItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-BlackItalic-web.woff) format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Black-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Black-web.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-SuperItalic-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-SuperItalic-web.woff) format('woff');
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: TWK Everett;
  src: url(lib/fonts/TWKEverett-Super-web.woff2) format('woff2'),
    url(lib/fonts/TWKEverett-Super-web.woff) format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
