@import "./breakpoints";
@import "./buttons";
@import "./extends";
@import "./fonts";
@import "./icons";
@import "./typeography";
@import "./vars";

html {
  min-width: map-get($breakpoints, sm);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  background-color: $background;
}
