@import './variables/index';
@import './utilities/index';
@import './base/index';
@import './components/index';
@import './themes/index';

html {
  min-width: map-get($breakpoints, xs);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: none;
}
