@import './vars';

.#{$class-prefix}-icon,
[class*=' #{$class-prefix}-icon-'],
[class^='#{$class-prefix}-icon-'] {
  font-family: $icon-font-family !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/// Generates classes for icons.
///
/// @output Creates classes for the individual icons.
@mixin create-icon-classes {
  @each $name, $value in $icons {
    .#{$class-prefix}-icon-#{$name}:before {
      content: '#{$value}';
    }
  }
}

@include create-icon-classes;
