
@import './variables';
@import './buttons';
@import './breakpoints';
@import './icons';
@import './util';

.#{$class-prefix}-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  overflow: scroll;
  background: var(--kd-color-modal-backdrop);
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  transition-timing-function: ease-out;
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.#{$class-prefix}-modal {
  background: var(--kd-color-modal-bg);
  color: var(--kd-color-modal-text);
  overflow: auto;
  -webkit-transition: all 0.4s, margin-top 0s, margin-bottom 0s;
  transition: all 0.4s, margin-top 0s, margin-bottom 0s;
  transition-timing-function: ease-out;
  margin: auto;
  z-index: 9999;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
    transform-origin: left bottom;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: left bottom;
  }
  @include device(desktop) {
    width: #{px2rem(768)};
    min-height: #{px2rem(384)};
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  @include device(tablet) {
    width: 80vw;
    min-height: #{px2rem(400)};
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  @include device(mobile) {
    width: 90vw;
    min-height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  & > .#{$class-prefix}-modal-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: #{px2rem(16)};
    padding-right: #{px2rem(16)};
    font-size:  #{px2rem(16)};
    .#{$class-prefix}-modal-control {
      padding: 0;
      line-height: #{px2rem(48)};
      width: #{px2rem(48)};
      height: #{px2rem(48)};
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
}

.#{$class-prefix}-modal-lg {
  @extend .#{$class-prefix}-modal;
  @include device(desktop) {
    width: #{px2rem(1000)};
    min-height: #{px2rem(500)};
  }
}

.#{$class-prefix}-modal-sm {
  @extend .#{$class-prefix}-modal;
  @include device(desktop) {
    width: #{px2rem(600)};
    min-height: #{px2rem(300)};
  }
}
