@use "sass:map";

@import "./util";
@import "./vars";

.#{$class-prefix}-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: #{px2rem(40)};
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: map.get($colors, "dark-white");

  .#{$class-prefix}-tab {
    @include padding(left right, 1);
    @include margin(right, 1);
    display: inline-block;
    font-size: #{px2rem(14)};
    line-height: #{px2rem(40)};
    color: map.get($colors, "earth");
    text-decoration: none;
    margin-bottom: -2px;
    background: transparent;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    cursor: pointer;
    &:hover {
      color: map.get($colors, "dark-stone");
    }
    &.#{$class-prefix}-selected,
    &:focus,
    &:active {
      color: map.get($colors, "warm-red");
      font-weight: $font-weight-bold;
      border-bottom-color: map.get($colors, "warm-red");
    }
  }

}
