@import './variables';

/// Provides a grayscale default state for SVG images.
svg.#{$class-prefix}-transition-default-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.73 0.73 0.73 0 0 0.73 0.73 0.73 0 0 0.73 0.73 0.73 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: invert(0.5);
  opacity: 0.5;
  transition: all 0.2s;
}

/// Provides a grayscale hover state for SVG images.
svg.#{$class-prefix}-transition-hover-grayscale {
  &:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.73 0.73 0.73 0 0 0.73 0.73 0.73 0 0 0.73 0.73 0.73 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: invert(0.5);
    opacity: 0.5;
    transition: all 0.2s;
  }
}

/// Provides a grayscale default state for images.
img.#{$class-prefix}-transition-default-grayscale {
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 0.2s;
}

/// Provides a grayscale hover state for images.
img.#{$class-prefix}-transition-hover-grayscale {
  &:hover {
    filter: grayscale(1);
    opacity: 0.5;
    transition: all 0.2s;
  }
}

/// Provides a colorized default state for SVG images.
svg.#{$class-prefix}-transition-default-colorize {
  filter: none;
  -webkit-filter: none;
  opacity: 1;
}

/// Provides a colorized hover state for SVG images.
svg.#{$class-prefix}-transition-hover-colorize {
  &:hover {
    filter: none;
    -webkit-filter: none;
    opacity: 1;
  }
}

/// Provides a colorized default state for images.
img.#{$class-prefix}-transition-default-colorize {
  filter: grayscale(0);
  opacity: 1;
}

/// Provides a colorized hover state for images.
img.#{$class-prefix}-transition-hover-colorize {
  &:hover {
    filter: grayscale(0);
    opacity: 1;
  }
}
