@import './breakpoints';
@import './util';
@import './vars';

.#{$class-prefix}-text {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-text;
  font-size: #{px2rem(16)};
  line-height: #{px2rem(28)};
  @include margin(top bottom, 3);
  @include device(tablet) {
    font-size: #{px2rem(18)};
    line-height: #{px2rem(28)};
    @include margin(top bottom, 2);
  }
  @include device(mobile) {
    font-size: #{px2rem(18)};
    line-height: #{px2rem(28)};
    @include margin(top bottom, 1);
  }
  .#{$class-prefix}-invert,
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    background-color: $inverted-background;
    color: $inverted-default-text;
  }
}

.#{$class-prefix}-h1 {
  font-family: $font-family-lg;
  font-weight: $font-weight-normal;
  color: $h1-color;
  font-size: #{px2rem(64)};
  line-height: #{px2rem(68)};
  @include margin(top bottom, 4);
  @include device(tablet) {
    font-size: #{px2rem(48)};
    line-height: #{px2rem(63)};
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    font-size: #{px2rem(36)};
    line-height: #{px2rem(46)};
    @include margin(top bottom, 2);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-h1-color;
  }
}

.#{$class-prefix}-h2 {
  font-family: $font-family-lg;
  font-weight: $font-weight-normal;
  color: $h2-color;
  font-size: #{px2rem(36)};
  line-height: #{px2rem(46)};
  @include margin(top bottom, 4);
  @include device(tablet) {
    font-size: #{px2rem(36)};
    line-height: #{px2rem(46)};
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    font-size: #{px2rem(32)};
    line-height: #{px2rem(42)};
    @include margin(top bottom, 2);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-h2-color;
  }
}

.#{$class-prefix}-h3 {
  font-family: $font-family-lg;
  font-weight: $font-weight-light;
  color: $h3-color;
  font-size: #{px2rem(32)};
  line-height: #{px2rem(42)};
  @include margin(top bottom, 4);
  @include device(tablet) {
    font-size: #{px2rem(32)};
    line-height: #{px2rem(42)};
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    font-size: #{px2rem(28)};
    line-height: #{px2rem(37)};
    @include margin(top bottom, 2);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-h3-color;
  }
}

.#{$class-prefix}-h4 {
  font-family: $font-family-lg;
  font-weight: $font-weight-normal;
  color: $h4-color;
  font-size: #{px2rem(36)};
  line-height: #{px2rem(54)};
  @include margin(top bottom, 4);
  @include device(tablet) {
    font-size: #{px2rem(28)};
    line-height: #{px2rem(54)};
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    font-size: #{px2rem(28)};
    line-height: #{px2rem(54)};
    @include margin(top bottom, 2);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-h4-color;
  }
}

.#{$class-prefix}-h5 {
  font-weight: $font-weight-normal;
  color: $h5-color;
  font-size: #{px2rem(30)};
  line-height: #{px2rem(44)};
  @include margin(top bottom, 4);
  @include device(desktop) {
    font-family: $font-family-lg;
  }
  @include device(tablet) {
    font-family: $font-family;
    font-size: #{px2rem(20)};
    line-height: #{px2rem(30)};
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    font-family: $font-family;
    font-size: #{px2rem(20)};
    line-height: #{px2rem(30)};
    @include margin(top bottom, 2);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-h5-color;
  }
}

.#{$class-prefix}-h6 {
  font-weight: $font-weight-normal;
  color: $h6-color;
  font-size: #{px2rem(22)};
  line-height: #{px2rem(28)};
  @include margin(top bottom, 4);
  @include device(desktop) {
    font-family: $font-family-lg;
  }
  @include device(tablet) {
    font-family: $font-family;
    font-size: #{px2rem(18)};
    line-height: #{px2rem(24)};
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    font-family: $font-family;
    font-size: #{px2rem(18)};
    line-height: #{px2rem(24)};
    @include margin(top bottom, 2);
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    color: $inverted-h6-color;
  }
}

.#{$class-prefix}-link {
  &:link,
  &:visited {
    font-weight: $font-weight-bold;
    color: $link;
    text-decoration: none;
  }
  &:focus {
    color: $link-focus;
    text-decoration: none;
  }
  &:active {
    color: $link-active;
    text-decoration: underline;
  }
  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
  .#{$class-prefix}-icon {
    @include margin(left, 1);
    font-size: #{px2rem(14)};
    font-weight: $font-weight-bold;
  }
  .#{$class-prefix}-invert &,
  &.#{$class-prefix}-invert {
    &:link {
      font-weight: $font-weight-bold;
      color: $inverted-link;
      text-decoration: none;
    }
    &:focus {
      color: $inverted-link-focus;
      text-decoration: none;
    }
    &:active {
      color: $inverted-link-active;
      text-decoration: underline;
    }
    &:hover {
      color: $inverted-link-hover;
      text-decoration: underline;
    }
  }
}

.#{$class-prefix}-list {
  @include padding(left, 3);
  @include margin(top bottom, 3);
  @include device(tablet) {
    @include margin(top bottom, 2);
  }
  @include device(mobile) {
    @include margin(top bottom, 1);
  }
  &:is(ul) {
    li.#{$class-prefix}-list-item::marker {
      content: '–';
    }
  }
  .#{$class-prefix}-list-item {
    @include margin(top bottom, 2);
    @include padding(left, 1);
    @include device(tablet) {
      @include margin(top bottom, 2);
    }
    @include device(mobile) {
      @include margin(top bottom, 1);
    }
  }
}
