@use 'sass:color';
@use 'sass:map';

$tag-prefix: 'kd' !default;
$class-prefix: 'kd' !default;
$sub-grid-px: 8 !default;

$breakpoints: (
  xs: 320px,
  // Fluid 4-col
  sm: 672px,
  // Fluid 8-col
  md: 1183px,
  // Fluid 16-col
  lg: 1311px,
  // Fixed 16-col 1056px
  xlg: 1583px,
  // Fixed 16-col 1312px
  max: 2500px,
  // Fixed 16-col 1584px (no max)
) !default;

$breakpoint-grid-columns: (
  xs: 4,
  sm: 8,
  md: 12,
  lg: 12,
  xlg: 12,
  max: 12,
);

$devices: (
  mobile: (
    xs,
    sm,
  ),
  tablet: (
    md,
  ),
  desktop: (
    lg,
    xlg,
    max,
  ),
) !default;

/// Fonts
$font-family-lg: 'TWK Everett', Helvetica, Arial, sans-serif !default;
$font-family: Helvetica, Arial, sans-serif !default;
$icon-font-family: 'kyndryl-Icons' !default;
$font-large: #{px2rem(18)} !default;
$font-size: #{px2rem(16)} !default;
$font-size-small: #{px2rem(14)} !default;
$font-size-x-small: #{px2rem(12)} !default;
$font-height: 1.5 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

/// Icons
$icons: (
  'arrow-down': '\e90e',
  'arrow-left': '\e906',
  'arrow-right': '\e905',
  'arrow-up': '\e90f',
  'chevron-down': '\e903',
  'chevron-left': '\e910',
  'chevron-right': '\e911',
  'chevron-up': '\e908',
  'chevron-wide-down': '\e90b',
  'chevron-wide-left': '\e912',
  'chevron-wide-right': '\e913',
  'chevron-wide-up': '\e90c',
  'close': '\e909',
  'download': '\e901',
  'hamburger': '\e90a',
  'linkedin': '\e900',
  'pdf': '\e904',
  'play': '\e90d',
  'pop-out': '\e907',
  'twitter': '\e902',
) !default;
