/**
 * Copyright Kyndryl, Inc. 2022
 */
 
$icomoon-font-family: "kyndryl-Icons" !default;
$icomoon-font-path: "fonts" !default;

$kd-icon-arrow-down: "\e90e";
$kd-icon-arrow-left: "\e906";
$kd-icon-arrow-right: "\e905";
$kd-icon-arrow-up: "\e90f";
$kd-icon-chevron-down: "\e903";
$kd-icon-chevron-left: "\e910";
$kd-icon-chevron-right: "\e911";
$kd-icon-chevron-up: "\e908";
$kd-icon-chevron-wide-down: "\e90b";
$kd-icon-chevron-wide-left: "\e912";
$kd-icon-chevron-wide-right: "\e913";
$kd-icon-chevron-wide-up: "\e90c";
$kd-icon-close: "\e909";
$kd-icon-download: "\e901";
$kd-icon-hamburger: "\e90a";
$kd-icon-linkedin: "\e900";
$kd-icon-pause: "\e914";
$kd-icon-pdf: "\e904";
$kd-icon-play: "\e90d";
$kd-icon-play-solid: "\e915";
$kd-icon-pop-out: "\e907";
$kd-icon-twitter: "\e902";

