/// Icons
$icons: (
    "close":              "\\e909",
);

@import "../../styles/icons";
@import "../../styles/modal";

:host(#{$tag-prefix}-modal) {

  ::slotted([slot=trigger]) {
    cursor: pointer;
  }

}
