@import "../../lib/styles/icons";

.button__icon,
.header__mobile-menu-social .cmp-text a:after,
.icon,
[class*=" icon-"],
[class^="icon-"] {
  font-family: kyndryl-Icons !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  font-weight: 600;
  text-decoration: none;
}

.header {
  font-family: "TWK Everett", Helvetica, Arial, sans-serif;
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.header__desktop-menu .cmp-navigation__item-link--level-0:focus, .header__desktop-menu .cmp-navigation__item-link--level-0:hover {
  border-bottom: 2px solid #ff462d;
  outline: none;
  padding-bottom: 26px;
  -webkit-transition: border-bottom .1s linear;
  transition: border-bottom .1s linear;
}

.header__desktop-menu .cmp-navigation__item-link--landing:focus, .header__desktop-menu .cmp-navigation__item-link--landing:hover, .header__desktop-menu .cmp-navigation__item-link--level-1:focus, .header__desktop-menu .cmp-navigation__item-link--level-1:hover {
  text-decoration: underline;
}

.cmp-container__max-width,
.cmp-footer,
.cmp-navigation__group-wrapper,
.header__container {
  max-width: 107pc;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 126px;
  flex: 0 0 126px;
  margin: 0 150px 0 0;
  padding: 23px 0 17px;
}

.cmp-image__image {
  width: 100%;
}

.header__logo img {
  display: block;
}

.header__desktop-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.cmp-navigation {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cmp-navigation__group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__desktop-menu .cmp-navigation__group {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__desktop-menu .cmp-navigation > .cmp-navigation__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cmp-navigation__item--main {
  padding: 0;
}

.header__desktop-menu .cmp-navigation__item--main {
  margin: 0 50px 0 0;
}

.cmp-navigation__item-link {
  color: #3d3c3c;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.cmp-navigation__item-link--level-0 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__desktop-menu
  .cmp-navigation__item--main:hover
  > .cmp-navigation__item-link--level-0,
.header__desktop-menu .cmp-navigation__item-link--level-0:hover {

  padding-bottom: 26px;
}
.header__desktop-menu .cmp-navigation__item-link {
  color: #3d3c3c;
}
.header__desktop-menu .cmp-navigation__item-link--level-0 {
  padding: 28px 0 28px 0;
}
.header__desktop-menu
  .cmp-navigation__item-link--level-0.cmp-navigation__item-link-sub {
  padding-right: 0;
}
.cmp-navigation__item-link-icon {
  font-size: 7px;
  pointer-events: none;
}
.header__desktop-menu .cmp-navigation__item-link-icon {
  margin-left: 10px;
}

.header__desktop-menu
  .cmp-navigation__item--main:hover
  > .cmp-navigation__group-container--level-0 {
  display: block;
}

.header__desktop-menu .cmp-navigation__group-container--level-0 {
  background-color: #fff;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.header__mobile-nav .cmp-navigation__item-description {
  display: none;
}
.header__mobile-nav .cmp-navigation__group-right-container .cmp-navigation__learn-list-item, .header__mobile-nav .cmp-navigation__group-right-container .cmp-navigation__learn-title {
  margin-bottom: 30px;
}

.cmp-navigation__learn-title {
  color: #3d3c3c;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.cmp-container__max-width,
.cmp-footer,
.cmp-navigation__group-wrapper,
.header__container {
  max-width: 107pc;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: auto;
  margin-right: auto;
}
.header__desktop-menu .cmp-navigation__group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 40px;
  width: 100%;
}

.header__desktop-menu .cmp-navigation__group-right-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 380px;
  flex: 0 0 380px;
  margin: 0 18px 0 0;
}
.cmp-navigation__learn-title {
  color: #3d3c3c;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.cmp-navigation__learn-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cmp-navigation__learn-list-item {
  margin: 0 0 28px;
  padding: 0;
}
.cmp-navigation__learn-link {
  color: #3d3c3c;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.cmp-navigation__address-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 20px;
}
.cmp-navigation__address-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.cmp-navigation__group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__desktop-menu .cmp-navigation__group {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.header__desktop-menu
  .cmp-navigation__item--level-0:first-child
  .cmp-navigation__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
}

.header__desktop-menu
  .cmp-navigation__item--level-0:first-child
  .cmp-navigation__item--level-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 34px 0 0;
}
.cmp-navigation__item--level-1 {
  padding: 0 0 30px;
}
.cmp-navigation__item-link {
  color: #3d3c3c;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.header__desktop-menu .cmp-navigation__item-link {
  color: #3d3c3c;
}

.header__desktop-menu
  .cmp-navigation__item--level-0:first-child
  .cmp-navigation__item-description {
  color: #565049;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 10px;
}

.header__desktop-menu .cmp-navigation__item-link {
  color: #3d3c3c;
}
.header__desktop-menu .cmp-navigation__item-link--landing,
.header__desktop-menu .cmp-navigation__item-link--level-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.header__desktop-menu .cmp-navigation__item-link--landing {
  display: none;
}

.header__desktop-menu
  .cmp-navigation__item--level-0:first-child
  .cmp-navigation__item-link--landing {
  display: block;
  padding: 0 34px 0 0;
  margin-bottom: 40px;
}

.header__desktop-menu .cmp-navigation__item-link--landing,
.header__desktop-menu .cmp-navigation__item-link--level-1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

////////// cmp-navigation__group-wrapper

.header__language-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.cmp-languagenavigation {
  position: relative;
}
.cmp-languagenavigation__current-lang {
  border: none;
  background-color: transparent;
  padding-right: 20px;
  color: #3d3c3c;
  font: inherit;
}
.cmp-languagenavigation__current-lang-icon:before {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 7px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0.5s;
  transition: -webkit-transform 0.4s ease-in-out 0.5s;
  transition: transform 0.4s ease-in-out 0.5s;
  transition: transform 0.4s ease-in-out 0.5s,
    -webkit-transform 0.4s ease-in-out 0.5s;
}
.cmp-languagenavigation > .cmp-languagenavigation__group {
  position: absolute;
  top: 78px;
  right: 0;
  width: 20em;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  max-height: 2px;
  overflow: hidden;
  border-top: 2px solid #ff462d;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  z-index: 900;
}
.cmp-languagenavigation__list-wrapper {
  height: 100%;
  padding-bottom: 30px;
}
.cmp-languagenavigation__list-header {
  padding: 30px 0 20px 20px;
}
.cmp-languagenavigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 40vh;
  overflow-y: scroll;
}
.cmp-languagenavigation__item {
  padding-bottom: 0;
}
.cmp-languagenavigation__item-link {
  display: block;
  color: #000;
  width: 100%;
  padding: 10px 20px;
  margin-right: 40px;
  font-weight: 400;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link {
  font-weight: 500;
}

.header__mobile-nav {
  padding: 1pc 0 24px;
}
.header__mobile-nav {
  background-color: #fff;
  display: none;
  height: calc(100vh - 60px);
  overflow: auto;
  position: absolute;
  right: -100%;
  top: 60px;
  -webkit-transition: right 0.35s ease;
  transition: right 0.35s ease;
  width: 100%;
  z-index: 100;
}

.header__mobile-menu,
.header__mobile-nav {
  display: none;
}

.header__trigger-menu--close,
.header__trigger-menu--open {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  line-height: 1;
}

.header__trigger-menu--close {
  display: none;
}


.header__mobile-nav--opened .header__trigger-menu--open {
  display: none;
}

.header__mobile-nav--opened .header__trigger-menu--close {
  display: block;
}

.header__mobile-nav .cmp-navigation__item-link--level-1 {
  font-size: 1pc;
  line-height: 21px;
}

.header__mobile-nav .cmp-navigation__item--level-0:first-child .cmp-navigation__item--level-1 {
  padding-left: 20px;
}

.header__mobile-nav .cmp-navigation__item-link--landing {
  display: block;
  margin: 0 0 28px;
}

.header__mobile-nav .cmp-navigation__group-container--level-0>.cmp-navigation__group-wrapper {
  padding: 41px 36px 28px;
  border-top: 1px solid #bbb;
}

.header__mobile-nav .cmp-navigation__group-container--level-0 {
  background-color: #f2f1ee;
}

.header__mobile-nav .cmp-navigation__item-link--level-0 {
  border-bottom: 1px solid #bbb;
  justify-content: space-between;
  line-height: 21px;
  margin: 0 36px;
  padding: 22px 0 21px;
}

.header__mobile-nav .cmp-navigation__item-link--active {
  border-bottom: 0;
}

.header__mobile-nav {
  padding: 1pc 0 24px;
}
.header__mobile-nav {
  background-color: #fff;
  display: none;
  height: calc(100vh - 60px);
  overflow: auto;
  position: absolute;
  right: -100%;
  top: 60px;
  -webkit-transition: right .35s ease;
  transition: right .35s ease;
  width: 100%;
  z-index: 100;
}

.header__mobile-menu, .header__mobile-nav {
display: none;
}

.header__trigger-menu--close, .header__trigger-menu--open {
background-color: transparent;
border: 0;
font-size: 18px;
line-height: 1;
}

.header__trigger-menu--close {
display: none;
}

.header__mobile-nav--opened .header__mobile-nav {
right: 0;
}

.header__mobile-nav .cmp-navigation {
padding: 0;
}

.header__mobile-nav .cmp-navigation__group-container--level-0>.cmp-navigation__group-wrapper {
  padding: 40px 36px 30px;
  border-top: 1px solid #bbb;
}


.header__mobile-nav .cmp-navigation__item--level-0:first-child .cmp-navigation__item-link--landing {
  display: block;
  margin: 0 0 30px;
}

.header__mobile-nav .cmp-navigation__item-link--landing {
  display: none;
  font-size: 16px;
}

.cmp-navigation__item-link--active .cmp-navigation__item-link-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


.header__mobile-nav .cmp-navigation__group-container--level-0 {
  background-color: #f2f1ee;
}
.cmp-navigation__item-link--active+.cmp-navigation__group-container {
  border-bottom: 2px solid #ff462d;
}

.header__mobile-nav .cmp-navigation__group-container--level-0>.cmp-navigation__group-wrapper {
  padding: 40px 36px 30px;
  border-top: 1px solid #bbb;
}

.header__mobile-nav .cmp-navigation__item--level-0:first-child .cmp-navigation__item-link--landing {
  display: block;
  margin: 0 0 30px;
}

.header__mobile-menu-social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #bbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 36px;
  padding: 0 0 30px;
}

.header__mobile-menu-connect {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 0;
  text-transform: uppercase;
}

.header__mobile-menu-connect .cmp-text, .header__mobile-menu-connect p {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__mobile-menu-social .cmp-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0;
}

.header__mobile-menu-social .cmp-text p {
  margin: 0;
  padding: 0;
}

.header__mobile-menu-contact, .header__mobile-menu-media {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.header__mobile-nav .cmp-social__title {
  display: none;
}

.header__mobile-menu-social .cmp-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.header__mobile-menu-social .cmp-social__item {
  padding-bottom: 0;
}

.header__mobile-menu-social .cmp-social__image {
  width: 20px;
}

.header__mobile-menu-social .cmp-social__link {
  font-size: 0;
}

.header__mobile-menu-social .cmp-text span.icon-icon--arrow-right:before {

  display: inline-block;
  margin-left: 21px;
}

.header__mobile-menu-social .cmp-text a {
  color: #3d3c3c;
  font-size: 14px;
  line-height: 19px;
}

.header__mobile-nav .cmp-navigation__group-right-container--links {
  margin-top: 30px;
}
.cmp-navigation__group-wrapper>div {
  opacity: 0;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.header__mobile-nav .cmp-navigation__item--level-0:first-child .cmp-navigation__item--level-1 {
  padding-left: 20px;
}

.header__mobile-nav .cmp-navigation__group-container--level-0>.cmp-navigation__group-wrapper {
  padding: 40px 36px 30px;
  border-top: 1px solid #bbb;
  
}

.button__icon, .header__mobile-menu-social .cmp-text a:after, .icon, [class*=" icon-"], [class^=icon-] {
  font-family: kyndryl-Icons!important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmp-social__list {
  list-style: none;
}

.cmp-social__link-text {
  text-transform: capitalize;
}

.cmp-social__image {
  display: block;
  margin-right: 8px;
  width: 13px;
}

.cmp-container__max-width, .cmp-footer, .cmp-navigation__group-wrapper, .header__container {
  max-width: 1712px;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: auto;
  margin-right: auto;
}

.cmp-navigation__group-container--level-0 {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  -webkit-transition-property: height,border-bottom;
  transition-property: height,border-bottom;
}

.cmp-navigation__item-link--active+.cmp-navigation__group-container .cmp-navigation__group-wrapper>div {
  opacity: 1;
}

.cmp-navigation__group-wrapper>div {
  opacity: 0;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.cmp-navigation__item-link--active+.cmp-navigation__group-container {
  border-bottom: 2px solid #ff462d;
}

@media (min-width: 1400px) {
  .header__logo {
    margin-right: 150px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 1200px) {
  .header__desktop-menu,
  .header__language-nav {
    display: none;
  }

  .header__mobile-menu {
    height: 60px;
    padding: 21px 0;
    position: relative;
  }

  .header__mobile-menu {
    height: 60px;
    padding: 21px 0;
    position: relative;
  }

  .header__mobile-menu,
  .header__mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__container {
    height: 60px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 82px;
    flex: 0 0 82px;
    margin: 0;
    padding: 20px 0 10px;
  }

  .cmp-navigation__address {
    display: none;
  }
}

@media (max-width: 768px){
  .cmp-social__title {
      font-size: 12px;
      margin-bottom: 10px;
  }

  .cmp-social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

  .header__mobile-menu-social .cmp-social__list {
    margin-bottom: 0;
  }

  .cmp-social__item {
    margin-right: 40px;
  }

}