/**
 * Copyright Kyndryl, Inc. 2022
 */

@use 'sass:map';

@import '../../styles/variables/index';
@import '../../styles/utilities/index';
@import '../../styles/base/typography';
@import '../../styles/themes/index';

:host{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: white;
  width: 100%;
}

.#{$prefix-class}-header__main-nav {
  background: var(--kd-color-header-main-nav-bg );
  color: var(--kd-color-text);
  height: #{px2rem(32)};
}

.#{$prefix-class}-header__main-nav-container {
  padding: 0 #{px2rem(18)};
  margin-left: auto;
  margin-right: auto;
  max-width: #{px2rem(1312)};
  display: grid;
  justify-content: flex-end;
  grid-template-columns: auto auto;
}

.#{$prefix-class}-header__main-nav-container ::slotted(*){
  @include margin(left, 5);
  line-height: var(--kd-font-height-06);
}


.#{$prefix-class}-header__main-nav > div {
  justify-self: end;
}

.#{$prefix-class}-header {

  &__primary-nav {
    // background: var(--kd-color-token-base);
    height: #{px2rem(90)};
    padding: 0 #{px2rem(18)};
    align-content: center;
    max-width: #{px2rem(1312)};
    box-sizing: border-box;
    position: relative;
    grid-template-columns: 1fr auto 1fr;
  }

  &__primary-nav-container {
    border-bottom: #{px2rem(1)} solid #e2e2e2;
  }

  &__logo{
    margin-right: #{px2rem(60)};
    margin-bottom: #{px2rem(10)};
    display: grid;
  }

  &__primary-navigation-container{
    padding: 0;
    grid-template-columns: auto auto auto auto auto auto;
  }

  &__primary-navigation-container ::slotted(*){
    @include margin(left, 5);
  }

  &__primary-navigation-container ::slotted(:first-child){
    margin-left: 0;
  }

  &__account-navigation-container{
    justify-self: flex-end;
    align-self: center;
  }

  &__account-navigation-container ::slotted(*){
    @include margin(left, 5);
  }
}

::slotted(*) {
  align-self: center;
}
