/**
 * Copyright Kyndryl, Inc. 2022
 */

@use 'sass:map';

@import '../../styles/variables/index';
@import '../../styles/utilities/index';
@import '../../styles/base/typography';
@import '../../styles/themes/index';


.#{$prefix-class}-header__main-nav {
  background: var(--kd-color-header-main-nav-bg );
  color: var(--kd-color-text);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 18px;
  height: 32px;

  a{
    font-size: var(--kd-font-size-02);
    line-height: 32px;
    color: rgb(61, 60, 60);
    font-weight: var(--kd-font-weight-normal);
    text-decoration: none;
    padding: 0 !important;
  }
}

.#{$prefix-class}-header {

  &__primary-nav {
    // background: var(--kd-color-token-base);
    height: 90px;
    padding: 0 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   // border-bottom: 1px solid var(--kd-color-brand-stone);
    box-sizing: border-box;
  }

  &__logo{
    margin-right: 60px;
  }

  &__nav-item{
    margin-right: 40px;
    color: var(--kd-color-brand-dark-stone);
    font-size: var(--kd-font-size-03);
    line-height: 30px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  &__nav-item.hover-underline-animation{
    background: linear-gradient(0deg, var(--kd-color-brand-dark-stone), var(--kd-color-brand-dark-stone)) no-repeat 100% 100%/0 2px;
    padding-bottom: 0;
  }

  &__nav-item[selected] .down-arrow,
  &__nav-item .up-arrow{
    display: none;
  }

  &__nav-item[selected]{
    text-decoration: underline 2px  var(--kd-color-token-accent);
    text-underline-offset: 6px;
  }

  &__nav-item[selected] .up-arrow{
    display: inline;
  }

  &__submenu-container{
    //padding: 48px 18px 60px 18px;
    box-sizing: border-box;
    background-color: var(--kd-color-token-base);
    display: flex;
    flex-direction: row;
    height: 13rem;
    //width: calc(100vw - 18px);
  }

  &__submenu-details{
    display: flex;
    flex-direction: column;
    padding: 15px 48px 15px 0;
    text-decoration: none;
    flex: 1;
  }

  &__indicator{
    width: 22px;
    min-height: 2px;
    background-color: var(--kd-color-token-accent);
    margin-top: 9px;
  }

  &__label {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--kd-font-size-05);
    line-height: 30px;
    color: var(--kd-color-brand-dark-stone);
    font-weight: var(--kd-font-weight-medium);
  }
  &__label2 {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--kd-font-size-05);
    line-height: 30px;
    color: var(--kd-color-brand-dark-stone);
    font-weight: var(--kd-font-weight-medium);
  }

  &__label kd-icon{
    margin-left: 8px;
    padding-top: 2px;
  }

  &__submenu-details:hover &__label{
    color: var(--kd-color-token-accent);
  }

  &__submenu-items-list{
    display: flex;
    flex-direction: column;
    padding: 15px 48px 15px 0;
    flex: 1;
  }

  &__submenu-items-list a{
    margin-bottom: 26px;
    font-size: var(--kd-font-size-03);
    line-height: var(--kd-font-height-05);
    color: rgb(61, 60, 60);
    font-weight: var(--kd-font-weight-normal);
    text-decoration: none;
  }

  &__submenu-items-list.group2{
    padding-right: 0;
  }

  &__description{
    font-size: var(--kd-font-size-02);
    line-height: var(--kd-font-height-02);
  }

  &__extra-details {
    display: flex;
    flex-direction: column;
    padding: 15px 48px 15px 0;
    text-decoration: none;
    flex: 1;
    border-left: 1px solid #e2e2e2;
    padding-left: 48px;
  }

  &__extra-details:hover &__label{
    background-size: 100% 2px;
    background-position-x: left;
  }

  &__extra-details &__label{
    background: linear-gradient(0deg,var(--kd-color-brand-dark-stone),var(--kd-color-brand-dark-stone)) no-repeat 100% 100%/0 2px;
    transition: background-size 350ms;
    padding-bottom: 2px;
    width: max-content;
  }
  &__extra-details:hover &__label2{
    background-size: 100% 2px;
    background-position-x: left;
  }

  &__extra-details &__label2{
    background: linear-gradient(0deg,var(--kd-color-brand-dark-stone),var(--kd-color-brand-dark-stone)) no-repeat 100% 100%/0 2px;
    transition: background-size 350ms;
    padding-bottom: 2px;
    width: max-content;
    
  }
}

.hover-underline-animation:not([selected]):hover{
  background-size: 100% 2px;
  background-position-x: left;
}

.hover-underline-animation {
  background: linear-gradient(0deg, var(--kd-color-token-accent), var(--kd-color-token-accent)) no-repeat 100% 100%/0 2px;
  transition: background-size 350ms;
  padding-bottom: 10px;
  font-weight: 500 !important;
}

.hover-underline-animation[selected]{
  transition: none;
}

a:hover{
  text-decoration: none !important;
}
