/**
 * Copyright Kyndryl, Inc. 2022
 */

@use 'sass:map';

@import '../../styles/variables/index';
@import '../../styles/utilities/index';
@import '../../styles/base/typography';
@import '../../styles/themes/index';

.#{$prefix-class}-mega-menu{

  &__content-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 1px);
    min-height: #{px2rem(330)};
    background-color: var(--kd-color-token-base);
    padding: #{px2rem(48)} #{px2rem(18)} #{px2rem(60)} #{px2rem(18)};
    box-sizing: border-box;
    @include device(tablet, mobile) {
      position: unset;
    }
  }

  &__content-wrapper::before{
    content: '';
    background-color: var(--kd-color-token-base);
    position: fixed;
    inset: 122px 0px 0px;
    z-index: -1;
    width: 100vw;
    height: #{px2rem(330)};
    @include device(tablet, mobile) {
      display: none;
    }
  }

}

:host(#{$prefix-tag}-mega-menu) {
  ::slotted([slot='trigger']) {
    cursor: pointer;
  }
}
