/**
 * Copyright Kyndryl, Inc. 2022
 */
 

// Sizes
// -----------------------------------------------------
$breakpoint-xs-min: 0 !default;
$breakpoint-xs-max: 320px !default;

$breakpoint-sm-min: 321px !default;
$breakpoint-sm-max: 672px !default;

$breakpoint-md-min: 673px !default;
$breakpoint-md-max: 1183px !default;

$breakpoint-lg-min: 1184px !default;
$breakpoint-lg-max: 1311px !default;

$breakpoint-xlg-min: 1312px !default;
$breakpoint-xlg-max: 1583px !default;

$breakpoint-max: 1584px !default;

// Utility maps
// -----------------------------------------------------
$breakpoints-map-all: (
  xs: (
    $breakpoint-xs-min,
    $breakpoint-xs-max,
  ),
  sm: (
    $breakpoint-sm-min,
    $breakpoint-sm-max,
  ),
  md: (
    $breakpoint-md-min,
    $breakpoint-md-max,
  ),
  lg: (
    $breakpoint-lg-min,
    $breakpoint-lg-max,
  ),
  xlg: (
    $breakpoint-xlg-min,
    $breakpoint-xlg-max,
  ),
  max: (
    $breakpoint-max,
    null,
  ),
) !default;

// Device specific groups
$breakpoints-map-devices: (
  mobile: (
    xs,
    sm,
  ),
  tablet: (
    md,
  ),
  desktop: (
    lg,
    xlg,
    max,
  ),
) !default;

$kd-display-font-size-u10: 12px;
$kd-display-font-size-u20: 14px;
$kd-display-line-height-u10: 16px;
$kd-display-line-height-u20: 20px;
$kd-letter-spacing-u10: 0.32;
$kd-display-font-family-roboto: 'Roboto';
$kd-display-font-family-everett: 'TWK Everett';



.k-font-size-utility-10 {
 font-size: $kd-display-font-size-u10;
 line-height: $kd-display-line-height-u10;
 letter-spacing: $kd-letter-spacing-u10;
 font-family:$kd-display-font-family-roboto;
}


.k-font-size-utility-20{
 font-size: $kd-display-font-size-u20;
 line-height: $kd-display-line-height-u20;
 letter-spacing: $kd-letter-spacing-u10;
}

$kd-display-line-height-b10: 24px;
$kd-display-font-size-b10: 16px;
$kd-display-line-height-b20: 28px;
$kd-display-font-size-b20: 20px;
$kd-letter-spacing-b10: 0px;
$kd-display-font-family-roboto: 'Roboto';


.k-font-size-body-10 {
 font-size: $kd-display-font-size-b10;
 line-height: $kd-display-line-height-b10;
 letter-spacing: $kd-letter-spacing-b10;
}

.k-font-size-body-20 {
 font-size: $kd-display-font-size-b20;
 line-height: $kd-display-line-height-b20;
 letter-spacing: $kd-letter-spacing-b10;
}

$kd-display-font-size-h10-sm-md: 20px;
$kd-display-font-size-h10-lg-xlg-max: 24px;
$kd-display-font-size-h20-sm-md-lg: 24px;
$kd-display-font-size-h20-xlg-max: 28px;
$kd-display-font-size-h30-sm: 24px;
$kd-display-font-size-h30-md-lg: 28px;
$kd-display-font-size-h30-xlg-max: 32px;
$kd-display-font-size-h40-sm: 28px;
$kd-display-font-size-h40-md-lg: 32px;
$kd-display-font-size-h40-xlg-max: 36px;
$kd-display-font-size-h50-sm: 28px;
$kd-display-font-size-h50-md-lg: 32px;
$kd-display-font-size-h50-xlg-max: 42px;
$kd-display-font-size-h60-sm: 32px;
$kd-display-font-size-h60-md-lg: 36px;
$kd-display-font-size-h60-xlg-max: 48px;
$kd-display-font-size-h70-sm: 36px;
$kd-display-font-size-h70-md-lg: 48px;
$kd-display-font-size-h70-xlg: 54px;
$kd-display-font-size-h70-max: 60px;
$kd-display-font-size-h80-sm: 42px;
$kd-display-font-size-h80-md-lg: 54px;
$kd-display-font-size-h80-xlg-max: 60px;
$kd-display-font-size-h90-sm: 48px;
$kd-display-font-size-h90-md-lg: 60px;
$kd-display-font-size-h90-xlg-max: 64px;
$kd-display-line-height-h10-sm-md: 28px;
$kd-display-line-height-h10-lg-xlg-max: 32px;
$kd-display-line-height-h20-sm-md-lg: 32px;
$kd-display-line-height-h20-xlg-max: 36px;
$kd-display-line-height-h30-sm: 32px;
$kd-display-line-height-h30-md-lg: 36px;
$kd-display-line-height-h30-xlg-max: 40px;
$kd-display-line-height-h40-sm: 36px;
$kd-display-line-height-h40-md-lg: 40px;
$kd-display-line-height-h40-xlg-max: 44px;
$kd-display-line-height-h50-sm: 36px;
$kd-display-line-height-h50-md-lg: 40px;
$kd-display-line-height-h50-xlg-max: 50px;
$kd-display-line-height-h60-sm: 40px;
$kd-display-line-height-h60-md-lg: 44px;
$kd-display-line-height-h60-xlg-max: 56px;
$kd-display-line-height-h70-sm: 44px;
$kd-display-line-height-h70-md-lg: 56px;
$kd-display-line-height-h70-xlg: 64px;
$kd-display-line-height-h70-max: 70px;
$kd-display-line-height-h80-sm: 50px;
$kd-display-line-height-h80-md-lg: 64px;
$kd-display-line-height-h80-xlg-max: 70px;
$kd-display-line-height-h90-sm: 56px;
$kd-display-line-height-h90-md-lg: 70px;
$kd-display-line-height-h90-xlg-max: 74px;
$kd-letter-spacing-h10: 0px;
$kd-letter-spacing-h20: 0.8px;
$kd-letter-spacing-h30: 0.16px;


.k-font-size-headline-10 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h10-sm-md;
   line-height: $kd-display-line-height-h10-sm-md;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-h10-sm-md;
   line-height: $kd-display-line-height-h10-sm-md;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h10-lg-xlg-max;
   line-height: $kd-display-line-height-h10-lg-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }


 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h10-lg-xlg-max;
   line-height: $kd-display-line-height-h10-lg-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }


 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h10-lg-xlg-max;
   line-height: $kd-display-line-height-h10-lg-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}


.k-font-size-headline-20 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h20-sm-md-lg;
   line-height: $kd-display-line-height-h20-sm-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-h20-sm-md-lg;
   line-height: $kd-display-line-height-h20-sm-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h20-sm-md-lg;
   line-height: $kd-display-line-height-h20-sm-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h20-xlg-max;
   line-height: $kd-display-line-height-h20-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h20-xlg-max;
   line-height: $kd-display-line-height-h20-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}

.k-font-size-headline-30 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h30-sm;
   line-height: $kd-display-line-height-h30-sm;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h30-md-lg;
   line-height: $kd-display-line-height-h30-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h30-xlg-max;
   line-height: $kd-display-line-height-h30-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h30-xlg-max;
   line-height: $kd-display-line-height-h30-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}


.k-font-size-headline-40 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h40-sm;
   line-height: $kd-display-line-height-h40-sm;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h40-md-lg;
   line-height: $kd-display-line-height-h40-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h40-xlg-max;
   line-height: $kd-display-line-height-h40-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h40-xlg-max;
   line-height: $kd-display-line-height-h40-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}


.k-font-size-headline-50 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h50-sm;
   line-height: $kd-display-line-height-h50-sm;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h50-md-lg;
   line-height: $kd-display-line-height-h50-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h50-xlg-max;
   line-height: $kd-display-line-height-h50-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h50-xlg-max;
   line-height: $kd-display-line-height-h50-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}


.k-font-size-headline-60 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h60-sm;
   line-height: $kd-display-line-height-h60-sm;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h60-md-lg;
   line-height: $kd-display-line-height-h60-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h60-xlg-max;
   line-height: $kd-display-line-height-h60-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h60-xlg-max;
   line-height: $kd-display-line-height-h60-xlg-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}


.k-font-size-headline-70 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h70-sm;
   line-height: $kd-display-line-height-h70-sm;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h70-md-lg;
   line-height: $kd-display-line-height-h70-md-lg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h70-xlg;
   line-height: $kd-display-line-height-h70-xlg;
   letter-spacing: $kd-letter-spacing-h10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h70-max;
   line-height: $kd-display-line-height-h70-max;
   letter-spacing: $kd-letter-spacing-h10;
 }
}


.k-font-size-headline-80 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h80-sm;
   line-height: $kd-display-line-height-h80-sm;
   letter-spacing: $kd-letter-spacing-b10;
 }


 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-h80-md-lg;
   line-height: $kd-display-line-height-h80-md-lg;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h80-md-lg;
   line-height: $kd-display-line-height-h80-md-lg;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h80-xlg-max;
   line-height: $kd-display-line-height-h80-xlg-max;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h80-xlg-max;
   line-height: $kd-display-line-height-h80-xlg-max;
   letter-spacing: $kd-letter-spacing-b10;
 }
}


.k-font-size-headline-90 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-h90-sm;
   line-height: $kd-display-line-height-h90-sm;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-h90-md-lg;
   line-height: $kd-display-line-height-h90-md-lg;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-h90-md-lg;
   line-height: $kd-display-line-height-h90-md-lg;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-h90-xlg-max;
   line-height: $kd-display-line-height-h90-xlg-max;
   letter-spacing: $kd-letter-spacing-b10;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-h90-xlg-max;
   line-height: $kd-display-line-height-h90-xlg-max;
   letter-spacing: $kd-letter-spacing-b10;
 }
}

$kd-display-font-size-d10-sm: 48px;
$kd-display-font-size-d10-md-lg: 54px;
$kd-display-font-size-d10-xlg: 68px;
$kd-display-font-size-d10-max: 68px;
$kd-display-font-size-d20-sm: 54px;
$kd-display-font-size-d20-md-lg: 60px;
$kd-display-font-size-d20-xlg: 72px;
$kd-display-font-size-d20-max: 76px;
$kd-display-font-size-d30-sm: 60px;
$kd-display-font-size-d30-md-lg: 68px;
$kd-display-font-size-d30-xlg: 76px;
$kd-display-font-size-d30-max: 84px;
$kd-display-font-size-d40-sm: 68px;
$kd-display-font-size-d40-md: 72px;
$kd-display-font-size-d40-lg: 72px;
$kd-display-font-size-d40-xlg: 84px;
$kd-display-font-size-d40-max: 92px;
$kd-display-font-size-d50-sm: 72px;
$kd-display-font-size-d50-md: 76px;
$kd-display-font-size-d50-lg: 84px;
$kd-display-font-size-d50-xlg: 92px;
$kd-display-font-size-d50-max: 96px;
$kd-display-font-size-d60-sm: 76px;
$kd-display-font-size-d60-md: 84px;
$kd-display-font-size-d60-lg: 92px;
$kd-display-font-size-d60-xlg: 96px;
$kd-display-font-size-d60-max: 144px;
$kd-display-font-size-d70-sm: 84px;
$kd-display-font-size-d70-md: 92px;
$kd-display-font-size-d70-lg: 96px;
$kd-display-font-size-d70-xlg: 144px;
$kd-display-font-size-d70-max: 192px;
$kd-display-font-size-d80-sm: 92px;
$kd-display-font-size-d80-md: 96px;
$kd-display-font-size-d80-lg: 144px;
$kd-display-font-size-d80-xlg: 192px;
$kd-display-font-size-d80-max: 216px;
$kd-display-font-size-d90-sm: 144px;
$kd-display-font-size-d90-md: 192px;
$kd-display-font-size-d90-lg: 216px;
$kd-display-font-size-d90-xlg: 288px;
$kd-display-font-size-d90-max: 336px;
$kd-display-line-height-d10-sm: 56px;
$kd-display-line-height-d10-md-lg: 64px;
$kd-display-line-height-d10-xlg: 80px;
$kd-display-line-height-d10-max: 64px;
$kd-display-line-height-d20-sm: 64px;
$kd-display-line-height-d20-md-lg: 70px;
$kd-display-line-height-d20-xlg: 64px;
$kd-display-line-height-d20-max: 88px;
$kd-display-line-height-d20-sm: 64px;
$kd-display-line-height-d20-md-lg: 70px;
$kd-display-line-height-d20-xlg: 64px;
$kd-display-line-height-d20-max: 88px;
$kd-display-line-height-d30-sm: 70px;
$kd-display-line-height-d30-md-lg: 80px;
$kd-display-line-height-d30-xlg: 88px;
$kd-display-line-height-d30-max: 70px;
$kd-display-line-height-d40-sm: 80px;
$kd-display-line-height-d40-md: 64px;
$kd-display-line-height-d40-lg: 88px;
$kd-display-line-height-d40-xlg: 70px;
$kd-display-line-height-d40-max: 104px;
$kd-display-line-height-d50-sm: 64px;
$kd-display-line-height-d50-md: 88px;
$kd-display-line-height-d50-lg: 70px;
$kd-display-line-height-d50-xlg: 104px;
$kd-display-line-height-d50-max: 112px;
$kd-display-line-height-d60-sm: 88px;
$kd-display-line-height-d60-md: 88px;
$kd-display-line-height-d60-lg: 104px;
$kd-display-line-height-d60-xlg: 112p;
$kd-display-line-height-d60-max: 168px;
$kd-display-line-height-d70-sm: 24px;
$kd-display-line-height-d70-md: 104px;
$kd-display-line-height-d70-lg: 112px;
$kd-display-line-height-d70-xlg: 168px;
$kd-display-line-height-d70-max: 224px;
$kd-display-line-height-d80-sm: 104px;
$kd-display-line-height-d80-md: 112px;
$kd-display-line-height-d80-lg: 168px;
$kd-display-line-height-d80-xlg: 224px;
$kd-display-line-height-d80-max: 256px;
$kd-display-line-height-d90-sm: 168px;
$kd-display-line-height-d90-md: 224px;
$kd-display-line-height-d90-lg: 256px;
$kd-display-line-height-d90-xlg: 336px;
$kd-display-line-height-d90-max: 400px;
$kd-letter-spacing-d90-sm: 0.16px;
$kd-letter-spacing-d80-sm: 0.08px;
$kd-letter-spacing-d80-lg: 0.16px;
$kd-letter-spacing-d70-sm: 0.08px;
$kd-letter-spacing-d70-xlg: 0.16px;
$kd-letter-spacing-d70-max: 0.16px;
$kd-letter-spacing-d60-sm: 0.08px;
$kd-letter-spacing-d60-max: 0.16px;
$kd-letter-spacing-d50-sm: 0.08px;
$kd-letter-spacing-d40-sm: 0.08px;
$kd-letter-spacing-d30-sm: 0.08px;
$kd-letter-spacing-d20-sm: 0.08px;
$kd-letter-spacing-d10-sm: 0.08px;


.k-font-size-display-10 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d10-sm;
   line-height: $kd-display-line-height-d10-sm;
   letter-spacing: $kd-letter-spacing-d10-sm;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d10-md-lg;
   line-height: $kd-display-line-height-d10-md-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d10-xlg;
   line-height: $kd-display-line-height-d10-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d10-max;
   line-height: $kd-display-line-height-d10-max;
 }
}


.k-font-size-display-20 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d20-sm;
   line-height: $kd-display-line-height-d20-sm;
   letter-spacing: $kd-letter-spacing-d20-sm;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d20-md-lg;
   line-height: $kd-display-line-height-d20-md-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d20-xlg;
   line-height: $kd-display-line-height-d20-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d20-max;
   line-height: $kd-display-line-height-d20-max;
 }
}

.k-font-size-display-30 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d30-sm;
   line-height: $kd-display-line-height-d30-sm;
   letter-spacing: $kd-letter-spacing-d30-sm;
 }

 @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d30-md-lg;
   line-height: $kd-display-line-height-d30-md-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d30-xlg;
   line-height: $kd-display-line-height-d30-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d30-max;
   line-height: $kd-display-line-height-d30-max;
 }
}


.k-font-size-display-40 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d40-sm;
   line-height: $kd-display-line-height-d40-sm;
   letter-spacing: $kd-letter-spacing-d40-sm;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-d40-md;
   line-height: $kd-display-line-height-d40-md;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d40-lg;
   line-height: $kd-display-line-height-d40-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d40-xlg;
   line-height: $kd-display-line-height-d40-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d40-max;
   line-height: $kd-display-line-height-d40-max;
 }
}


.k-font-size-display-50 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d50-sm;
   line-height: $kd-display-line-height-d50-sm;
   letter-spacing: $kd-letter-spacing-d50-sm;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-d50-md;
   line-height: $kd-display-line-height-d50-md;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d50-lg;
   line-height: $kd-display-line-height-d50-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d50-xlg;
   line-height: $kd-display-line-height-d50-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d50-max;
   line-height: $kd-display-line-height-d50-max;
 }
}


.k-font-size-display-60 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d60-sm;
   line-height: $kd-display-line-height-d60-sm;
   letter-spacing: $kd-letter-spacing-d60-sm;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-d60-md;
   line-height: $kd-display-line-height-d60-md;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d60-lg;
   line-height: $kd-display-line-height-d60-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d60-xlg;
   line-height: $kd-display-line-height-d60-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d60-max;
   line-height: $kd-display-line-height-d60-max;
   letter-spacing: $kd-letter-spacing-d60-max;
 }
}

.k-font-size-display-70 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d70-sm;
   line-height: $kd-display-line-height-d70-sm;
   letter-spacing: $kd-letter-spacing-d70-sm;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-d70-md;
   line-height: $kd-display-line-height-d70-md;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d70-lg;
   line-height: $kd-display-line-height-d70-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d70-xlg;
   line-height: $kd-display-line-height-d70-xlg;
   letter-spacing: $kd-letter-spacing-d70-max;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d70-max;
   line-height: $kd-display-line-height-d70-max;
   letter-spacing: $kd-letter-spacing-d70-max;
 }
}

.k-font-size-display-80 {
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d80-sm;
   line-height: $kd-display-line-height-d80-sm;
   letter-spacing: $kd-letter-spacing-d80-sm;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-d80-md;
   line-height: $kd-display-line-height-d80-md;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d80-lg;
   line-height: $kd-display-line-height-d80-lg;
   letter-spacing: $kd-letter-spacing-d80-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d80-xlg;
   line-height: $kd-display-line-height-d80-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d80-max;
   line-height: $kd-display-line-height-d80-max;
 }
}

.k-font-size-display-90{
 @media (min-width: $breakpoint-sm-min) {
   font-size: $kd-display-font-size-d90-sm;
   line-height: $kd-display-line-height-d90-sm;
   letter-spacing: $kd-letter-spacing-d90-sm;
 }

 @media (min-width: $breakpoint-md-min) {
   font-size: $kd-display-font-size-d90-md;
   line-height: $kd-display-line-height-d90-md;
 }

 @media (min-width: $breakpoint-lg-min) {
   font-size: $kd-display-font-size-d90-lg;
   line-height: $kd-display-line-height-d90-lg;
 }

 @media (min-width: $breakpoint-xlg-min) {
   font-size: $kd-display-font-size-d90-xlg;
   line-height: $kd-display-line-height-d90-xlg;
 }

 @media (min-width: $breakpoint-max) {
   font-size: $kd-display-font-size-d90-max;
   line-height: $kd-display-line-height-d90-max;
 }
}