/**
* Copyright Kyndryl, Inc. 2023
*/

@mixin css-vars-color-tokens {
  // Brand color palette
  --kd-color-brand-sage: #8d978b;
  --kd-color-brand-white: #fafafc;
  --kd-color-brand-dark-white: #e5e5e5;
  --kd-color-brand-black: #2b2b2b;
  --kd-color-brand-black-rgb: 43, 43, 43;
  --kd-color-brand-warm-red: #ff462d;
  --kd-color-brand-cloud: #f2f1ee;
  --kd-color-brand-spruce: #29707a;
  --kd-color-brand-stone: #bbbbbb;
  --kd-color-brand-dark-stone: #3d3c3c;
  --kd-color-brand-deep-forest: #042315;
  --kd-color-brand-dark-spring-green: #187e3f;
  --kd-color-brand-spring-green: #4cdd84;
  --kd-color-brand-earth: #9e9287;
  --kd-color-brand-dark-earth: #565049;
  --kd-color-warm-gray-shade-10: #f1f0f0;
  --kd-color-dark-stone-shade-20: #dcdad8;
  --kd-color-dark-stone-shade-10: #f4f4f4;
  --kd-color-dark-stone-shade-70: #515151;
  --kd-color-skye-shade-10: #e4f4f1;
  --kd-color-skye-shade-20: #aadcd3;
  --kd-color-cloud-shade-20: #dddad3;
  --kd-color-brand-warm-red-shade-40: #ff6b57;
  --kd-color-brand-spring-green-shade-30: #24c060;
  --kd-color-brand-spring-green-shade-10: #b6f1cd;
  --kd-color-brand-dark-spring-green-shade-50: #189048;
  --kd-color-brand-spruce-shade-50: #2f808c;
  --kd-color-brand-spruce-shade-80: #163d43;
  --kd-color-brand-spruce-shade-30: #3fadbd;
  --kd-color-brand-spruce-shade-70: #205961;
  --kd-color-cool-gray-shade-40: #97a1a6;
  
//new colors
  --k-color-darkstone-100: #161616;
  --k-color-darkstone-80: #3D3C3C;
  --k-color-darkstone-70: #515151;
  --k-color-darkstone-50: #898888;
  --k-color-darkstone-30: #cdd3d0;
  --k-color-darkstone-20: #DCDAD8;
  --k-color-darkstone-10: #F9F9F9;
  --k-color-spruce-90:#0e272a;
  --k-color-spruce-80:#163D43;
  --k-color-spruce-70:#205961;
  --k-color-spruce-60: #29707A;
  --k-color-spruce-40: #3797A4;
  --k-color-spruce-30:#3FADBD;
  --k-color-warmred-50: #FF462D;
  --k-color-warmred-40: #FF6B57;
  --k-color-neutral-white: #FFFFFF;
  --k-color-warmgray-20: #D9D7D7;
  --k-color-springgreen-20: #4CDD84;
  --k-color-springgreen-30: #24C060;
  --k-color-springgreen-70: #10592c;
  --k-color-deepforest-90: #042315;
  --k-color-cloud-10:#F2F1EE;
  --k-color-cloud-20: #DDDAD3;
  --k-color-skye-10: #E4F4F1;
  --k-color-skye-20:#AADCD3;
  --k-color-dk-springgreen-60: #187E3F;
  --k-color-coolgray-30: #B6BDC0;
  --k-color-coolgray-20: #D5D9DB;
  --k-color-coolgray-60: #667076;
  --k-color-warmgray-50: #8D8888;
  --k-color-success:#00AF41;
  --k-color-success-light:#E5F7EB;
  --k-color-error: #A91E48;
  --k-color-error-light: #F7E6E6;
  --k-color-warning: #F5C400;
  --k-color-warning-light: #FEF9E5;
  --k-color-informational: #E7E7E7;
  --k-color-dark-opacity: #313131;

  
  // Color Tokens
  
  --kd-color-token-base: var(--kd-color-brand-white);
  --kd-color-token-inverse: var(--kd-color-brand-dark-stone);
  --kd-color-token-interactive: var(--kd-color-brand-dark-stone);
  --kd-color-token-accent: var(--kd-color-brand-warm-red);
  
  --k-color-button-primary-text: var(--k-color-neutral-white);
  --k-color-button-primary-bg: var(--k-color-darkstone-70);
  --k-color-button-primary-border: var(--k-color-darkstone-70);
  --k-color-token-accent: var(--kd-color-brand-warm-red);
  --k-color-button-primary-hover-border: var(--k-color-darkstone-100);
  --k-color-button-primary-hover-bg: var(--k-color-darkstone-100);
  --k-color-button-primary-hover-text: var(--k-color-neutral-white);
  --k-color-button-primary-disabled-text: var(--k-color-darkstone-50);
  --k-color-button-primary-disabled-bg: var(--k-color-darkstone-20);
  --k-color-button-primary-disabled-border: var(--k-color-darkstone-20);
  --k-color-button-secondary-disabled-text: var(--k-color-darkstone-50);
  --k-color-button-secondary-disabled-bg: transparent;
  --k-color-button-secondary-disabled-border: var(--k-color-darkstone-20);
  --k-color-button-disabled-text: var(--k-color-darkstone-50);
  --k-color-button-disabled-bg: transparent;
  --k-color-button-disabled-border: transparent;
  --k-color-button-secondary-text: var(--k-color-darkstone-80);
  --k-color-button-secondary-bg: transparent;
  --k-color-button-secondary-border: var(--k-color-darkstone-80);
  --k-color-button-secondary-accent: var(--kd-color-brand-warm-red);
  --k-color-button-secondary-hover-border: var(--k-color-darkstone-100);
  --k-color-button-secondary-hover-bg: transparent;
  --k-color-button-secondary-hover-text: var(--k-color-darkstone-30);
  --k-color-button-link-text:var(--k-color-darkstone-80);
  --k-color-button-link-hover-text: var(--k-color-darkstone-100);
  
  --kd-color-button-primary-text: var(--kd-color-token-inverse);
  --kd-color-button-primary-bg: var(--kd-color-token-base);
  --kd-color-button-primary-border: var(--kd-color-token-accent);
  --kd-color-button-primary-hover-text: var(--kd-color-token-hover-base);
  --kd-color-button-primary-hover-bg: var(--kd-color-token-hover-interactive);
  --kd-color-button-primary-hover-border: var(--kd-color-token-hover-interactive);
  --kd-color-button-primary-active-text: var(--kd-color-token-base);
  --kd-color-button-primary-active-bg: var(--kd-color-token-inverse);
  --kd-color-button-primary-active-border: var(--kd-color-token-inverse);
  --kd-color-button-secondary-text: var(--kd-color-token-base);
  --kd-color-button-secondary-bg: var(--kd-color-token-base);
  --kd-color-button-secondary-border: var(--kd-color-token-base);
  --kd-color-button-secondary-hover-text: var(--kd-color-token-base);
  --kd-color-button-secondary-hover-bg: var(--kd-color-token-transparent);
  --kd-color-button-secondary-hover-border: var(--kd-color-token-interactive);
  --kd-color-button-secondary-active-text: var(--kd-color-token-base);
  --kd-color-button-secondary-active-bg: var(--kd-color-token-inverse);
  --kd-color-button-secondary-active-border: var(--kd-color-token-inverse);
  --kd-color-button-link-text: var(--kd-color-token-base);
  --kd-color-button-link-bg: transparent;
  --kd-color-button-link-border: transparent;
  --kd-color-button-link-hover-text: var(--kd-color-token-base-interactive);
  --kd-color-button-link-hover-bg: transparent;
  --kd-color-button-link-hover-border: transparent;
  --kd-color-button-link-active-text: var(--kd-color-token-base-interactive);
  --kd-color-button-link-active-bg: transparent;
  --kd-color-button-link-active-border: transparent;
  
  }
  
  
  @mixin css-vars-color-usage {
  // Base elements
  --kd-color-background: var(--kd-color-token-base);
  --kd-color-text: var(--kd-color-token-inverse);
  --kd-color-h1: var(--kd-color-token-inverse);
  --kd-color-h2: var(--kd-color-token-inverse);
  --kd-color-h3: var(--kd-color-token-inverse);
  --kd-color-h4: var(--kd-color-token-inverse);
  --kd-color-h5: var(--kd-color-token-inverse);
  --kd-color-h6: var(--kd-color-token-inverse);
  --kd-color-link: var(--kd-color-token-inverse);
  --kd-color-link-hover: var(--kd-color-token-interactive);
  --kd-color-link-active: var(--kd-color-token-interactive);
  --kd-color-modal-backdrop: rgba(var(--kd-color-brand-black-rgb), 0.6);
  --kd-color-modal-bg: var(--kd-color-token-base);
  --kd-color-modal-text: var(--kd-color-token-inverse);
  --kd-color-header-main-nav-bg: var(--kd-color-brand-cloud);

  --k-color-text-primary:var(--k-color-darkstone-80);
  --k-color-text-secondary: var(--k-color-darkstone-50);
  --k-color-text-tertiary: var(--k-color-spruce-60);
  --k-color-text-featured: var(--k-color-warmred-50);
  --k-color-text-inversed: var(--k-color-neutral-white);
  --k-color-text-disabled: var(--k-color-warmgray-20);
  --k-color-text-accent-01: var(--k-color-spruce-40);
  --k-color-text-accent-02: var(--k-color-springgreen-20);
  --k-color-text-link: var(--k-color-darkstone-80);
  --k-color-text-link-hover: var(--k-color-darkstone-100);
  --k-color-background-primary:var(--k-color-neutral-white);
  --k-color-background-secondary: var(--k-color-cloud-10);
  --k-color-background-tertiary: var(--k-color-skye-20);
  --k-color-theme-darkstone-80:var(--k-color-darkstone-80);
  --k-color-theme-spruce-60:var(--k-color-spruce-60);
  --k-color-theme-spruce-80: var(--k-color-spruce-80);
  --k-color-theme-dk-springgreen-60: var(--k-color-dk-springgreen-60);
  --k-color-theme-warmred-50: var(--k-color-warmred-50);
  --k-color-theme-springgreen-20: var(--k-color-springgreen-20);
  --k-color-background-primary: var(--k-color-coolgray-30);
  --k-color-border-light: var(--k-color-coolgray-20);
  --k-color-border-dark: var(--k-color-warmgray-50);
  --k-color-border-inversed: var(--k-color-neutral-white);
  --k-color-border-accent-springgreen: var(--k-color-springgreen20);
  --k-color-border-accent-spruce: var(--k-color-spruce30);
  --k-color-border-accent-warmred: var(--k-color-warmred50);
  --k-color-background-success:var(--k-color-success);
  --k-color-background-success-light: var(--k-color-success-light);
  --k-color-background-error: var(--k-color-error);
  --k-color-background-error-light: var(--k-color-error-light);
  --k-color-background-warning: var(--k-color-warning);
  --k-color-background-warning-light: var(--k-color-warning-light);
  --k-color-background-informational: var(--k-color-informational);

  --k-color-text-success:var(--k-color-success);
  --k-color-text-success-light: var(--k-color-success-light);
  --k-color-text-error: var(--k-color-error);
  --k-color-text-error-light: var(--k-color-error-light);
  --k-color-text-warning: var(--k-color-warning);
  --k-color-text-warning-light: var(--k-color-warning-light);
  --k-color-text-informational: var(--k-color-informational);
  --k-color-background-button-primary:var(--k-color-darkstone-70);
  --k-color-background-button-primary-hover: var(--k-color-darkstone-100);
  --k-color-text-button-primary: var(--k-color-neutral-white);
  --k-color-border-button-secondary: var(--k-color-darkstone-70);
  --k-color-border-button-secondary-hover: var(--k-color-darkstone-20);
  --k-color-text-button-secondary: var(--k-color-darkstone-70);
  --k-color-text-button-secondary-hover: var(--k-color-darkstone-100);
  --k-color-text-button-tertiary: var(--k-color-darkstone-70);
  --k-color-text-button-tertiary-hover: var(--k-color-darkstone-100);
  }
  
  
  @mixin dark-theme-darkstone-80 {
  --k-theme-color-darkstone-background: var(--k-color-darkstone-80);
  --k-theme-color-darkstone-foreground: var(--k-color-neutral-white);
  --k-theme-color-darkstone-accent-primary: var(--k-color-springgreen-20);
  --k-theme-color-darkstone-accent-secondary: var(--k-color-coolgray-40);
  --k-theme-color-darkstone-accent-tertiary: var(--k-color-darkstone-70);
  }
  

  @mixin dark-theme-spruce-60 {
  --k-theme-color-spruce-background: var(--k-color-spruce-60);
  --k-theme-color-spruce-foreground: var(--k-color-neutral-white);
  --k-theme-color-spruce-accent-primary: var(--k-color-springgreen-20);
  --k-theme-color-spruce-accent-secondary: var(--k-color-springgreen-10);
  --k-theme-color-spruce-accent-tertiary: var(--k-color-spruce-50);
  }
  
  
  @mixin dark-theme-spruce-80 {
  --k-theme-color-spruce-background: var(--k-color-spruce-80);
  --k-theme-color-spruce-foreground: var(--k-color-neutral-white);
  --k-theme-color-spruce-accent-primary: var(--k-color-springgreen-20);
  --k-theme-color-spruce-accent-secondary: var(--k-color-spruce-30);
  --k-theme-color-spruce-accent-tertiary: var(--k-color-spruce-70);
  }
  
  
  @mixin dark-theme-darkspring-60 {
  --k-theme-color-darkspring-background: var(--k-color-spruce-80);
  --k-theme-color-darkspring-foreground: var(--k-color-neutral-white);
  --k-theme-color-darkspring-accent-primary: var(--k-color-springgreen-10);
  --k-theme-color-darkspring-accent-secondary: var(--k-color-springgreen-20);
  --k-theme-color-darkspring-accent-tertiary: var(--k-color-darkspringgreen-50);
  }
  
  @mixin dark-theme-warmred-50 {
  --k-theme-color-warmred-background: var(--k-color-warmred-50);
  --k-theme-color-warmred-foreground: var(--k-color-neutral-white);
  --k-theme-color-warmred-accent-primary: var(--k-color-neutral-white);
  --k-theme-color-warmred-accent-secondary: var(--k-color-darkstone-80);
  --k-theme-color-warmred-accent-tertiary: var(--k-color-warmred-40);
  }
  
  @mixin dark-theme-springgreen-20 {
  --k-theme-color-springgreen-background: var(--k-color-springgreen-20);
  --k-theme-color-springgreen-foreground: var(--k-color-deepforest-90);
  --k-theme-color-springgreen-accent-primary: var(--k-color-deepforest-90);
  --k-theme-color-springgreen-accent-secondary: var(--k-color-spruce-70);
  --k-theme-color-springgreen-accent-tertiary: var(--k-color-springgreen-30);
  }
  
  @mixin light-theme-darkstone-light {
  --k-theme-color-darkstone-background: var(--k-color-darkstone-10);
  --k-theme-color-darkstone-foreground: var(--k-color-darkstone-80);
  --k-theme-color-darkstone-accent-primary: var(--k-color-warmred-50);
  --k-theme-color-darkstone-accent-secondary: var(--k-color-spruce-60);
  --k-theme-color-darkstone-accent-tertiary: var(--k-color-darkstone-20);
  }
  
  
  @mixin light-theme-darkstone-light {
  --k-theme-color-darkstone-background: var(--k-color-darkstone-10);
  --k-theme-color-darkstone-foreground: var(--k-color-darkstone-80);
  --k-theme-color-darkstone-accent-primary: var(--k-color-warmred-50);
  --k-theme-color-darkstone-accent-secondary: var(--k-color-spruce-60);
  --k-theme-color-darkstone-accent-tertiary: var(--k-color-darkstone-20);
  }
  
  @mixin light-theme-skye-10 {
  --k-theme-color-skye-background: var(--k-color-skye-10);
  --k-theme-color-skye-foreground: var(--k-color-darkstone-80);
  --k-theme-color-skye-accent-primary: var(--k-color-warmred-50);
  --k-theme-color-skye-accent-secondary: var(--k-color-spruce-60);
  --k-theme-color-skye-accent-tertiary: var(--k-color-skye-20);
  }
  
  @mixin light-theme-cloud-10 {
  --k-theme-color-cloud-background: var(--k-color-cloud-10);
  --k-theme-color-cloud-foreground: var(--k-color-darkstone-80);
  --k-theme-color-cloud-accent-primary: var(--k-color-warmred-50);
  --k-theme-color-cloud-accent-secondary: var(--k-color-spruce-60);
  --k-theme-color-cloud-accent-tertiary: var(--k-color-cloud-20);
  }
  
  
  @mixin light-theme-white {
  --k-theme-color-white-background: var(--k-color-neutral-white);
  --k-theme-color-white-foreground: var(--k-color-darkstone-80);
  --k-theme-color-white-accent-primary: var(--k-color-warmred-50);
  --k-theme-color-white-accent-secondary: var(--k-color-spruce-60);
  --k-theme-color-white-accent-tertiary: var(--k-color-darkstone-10);
  }