@import '../utilities/units';

$font-family-lg: 'TWK Everett', Helvetica, Arial, sans-serif !default;
$font-family: Helvetica, Arial, sans-serif !default;
$icon-font-family: 'kyndryl-Icons' !default;
$font-large: #{px2rem(18)} !default;
$font-size: #{px2rem(16)} !default;
$font-size-small: #{px2rem(14)} !default;
$font-size-x-small: #{px2rem(12)} !default;
$font-height: 1.5 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
