@import '../../styles/variables';
@import '../../styles/components/icons';

:host(kyndryl-footer) {
  ::slotted(#teconsent) {
    color: #3d3c3c;
    line-height: 30px;
  }

  ::slotted(#teconsent *:hover) {
    text-decoration: underline;
  }

  * {
    font-family: TWK Everett, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: #3d3c3c;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
  }

  footer {
    display: block;
    width: 100%;
    background-color: #f2f1ee;
    * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .cmp-footer {
      padding-bottom: 48px;
      padding-top: 48px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 18px;
      padding-right: 18px;
      width: 100%;
    }
    .cmp-footer .cmp-list__item-link {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 22px;
    }
    .cmp-list__item-link,
    .cmp-list__item a {
      color: #3d3c3c;
    }
    .cmp-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .cmp-footer__content .cmp-list__item:first-child {
      grid-column: 1/-1;
    }
    .cmp-footer__content .cmp-list__item:first-child .cmp-list__item-link {
      font-size: 28px;
      line-height: 54px;
      margin-bottom: 38px;
    }
    .cmp-footer__content
      .cmp-list__item:first-child
      .cmp-list__item-link:after {
      background: #ff462d;
      content: '';
      display: block;
      height: 2px;
      margin-top: 8px;
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      width: 48px;
    }
    .cmp-footer__content
      .cmp-list__item:first-child
      .cmp-list__item-link:hover:after {
      background: #3d3c3c;
      content: '';
      display: block;
      height: 2px;
      margin-top: 8px;
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      width: 48px;
    }
    .cmp-footer .cmp-list__item-link {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 22px;
    }
    .cmp-list__item-link:hover,
    .cmp-list__item a:hover {
      text-decoration: underline;
    }
    .cmp-footer__content
      .cmp-list__item:first-child
      .cmp-list__item-link:hover {
      text-decoration: none;
    }
    .cmp-footer__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 28px;
    }
    .cmp-footer__header-logo {
      height: auto;
      margin-bottom: 10px;
      width: 130px;
    }
    .cmp-footer__content-col {
      padding-bottom: 70px;
    }
    .cmp-footer__footer-col {
      margin-bottom: 50px;
    }
    .cmp-footer__footer .cmp-list {
      margin-bottom: 18px;
    }
    .cmp-footer .cmp-list__item-link {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 22px;
    }
    .cmp-footer__footer-copyright * {
      color: #666;
      font-size: 13px;
      line-height: 28px;
    }
    .cmp-social__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #3d3c3c;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
    .cmp-social__image {
      display: block;
      margin-right: 8px;
      width: 13px;
    }
    .cmp-footer__header-social .cmp-social__image {
      height: auto;
      margin: 0;
      width: 30px;
    }
    .cmp-social__link-text {
      text-transform: capitalize;
    }
    .cmp-footer__header-social .cmp-social__link-text {
      display: block;
      left: -99999px;
      position: fixed;
      top: -99999px;
    }
    .cmp-footer__header-social .cmp-social__title {
      display: none;
      font-family: TWK Everett Light, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      margin-right: 10px;
    }
    .cmp-social__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .cmp-footer__header-social .cmp-social__list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 0;
    }
    .cmp-footer__header-social .cmp-social__item {
      margin-right: 10px;
      padding-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    footer {
      .cmp-footer {
        padding-bottom: 80px;
        padding-top: 80px;
      }
      .cmp-footer__content .cmp-list {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
      }
      .cmp-footer__header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 60px;
      }
      .cmp-footer__header-logo {
        margin-bottom: 0;
      }
      .cmp-footer__content-col {
        padding-bottom: 80px;
      }
      .cmp-footer__footer-col {
        margin-bottom: 36px;
      }
      .cmp-footer__footer .cmp-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .cmp-footer__footer .cmp-list__item {
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        &:first-child {
          padding-left: 0;
          &:before {
            display: none;
          }
        }
        &:before {
          background-color: #3d3c3c;
          content: '';
          display: block;
          height: 16px;
          left: 0;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 2px;
        }
      }
      .cmp-footer__footer .cmp-list__item-link {
        margin-bottom: 0;
      }
      .cmp-footer__header-social .cmp-social {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .cmp-footer__header-social .cmp-social__title {
        display: block;
      }
      .cmp-footer__header-social .cmp-social__item {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }

  @media (min-width: 1024px) {
    footer {
      .cmp-footer {
        max-width: 1312px;
      }
      .cmp-footer__content .cmp-list__item-link {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
      }
      .cmp-footer__content-col:first-child .cmp-list {
        grid-template-columns: repeat(3, 1fr);
      }
      .cmp-footer__content .cmp-list__item-link {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
      }
      .cmp-footer__header {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 48px;
      }
      .cmp-footer__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      .cmp-footer__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      .cmp-footer__header-logo {
        margin-right: 20px;
      }
      .cmp-footer__content-col {
        padding-bottom: 140px;
        width: 33.3333333333%;
        &:first-child {
          width: 58.3333333333%;
        }
      }
      .cmp-footer__footer-col {
        margin-bottom: 0;
        &:first-child {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
        }
      }
      .cmp-footer__footer .cmp-list__item-link {
        font-size: 16px;
      }
      .cmp-footer__header-social .cmp-social__title {
        display: none;
      }
    }
  }
}
