@use 'sass:map';

@import '../../styles/variables';
@import '../../styles/components/accordion';

:host(#{$prefix-tag}-accordion-item) {
  @extend .#{$prefix-class}-accordion-item;

  .#{$prefix-class}-accordion-item-header {
    @extend .#{$prefix-class}-accordion-item-header;
  }

  .#{$prefix-class}-accordion-item-detail-wrapper {
    @extend .#{$prefix-class}-accordion-item-detail-wrapper;
  }
}
