@import '../variables/index';
@import '../utilities/index';

.#{$prefix-class}-text {
  font-family: var(--kd-font-family-text);
  font-weight: var(--kd-font-weight-text);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--kd-color-text);
  font-size: var(--kd-font-size-text);
  line-height: var(--kd-font-height-text);
  @include margin(top bottom, 3);
  @include device(tablet) {
    @include margin(top bottom, 2);
  }
  @include device(mobile) {
    @include margin(top bottom, 1);
  }
}

.#{$prefix-class}-h1 {
  font-family: var(--kd-font-family-heading);
  font-weight: var(--kd-font-weight-h1);
  color: var(--kd-color-h1);
  font-size: var(--kd-font-size-h1);
  line-height: var(--kd-font-height-h1);
  @include margin(top bottom, 4);
  @include device(tablet) {
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    @include margin(top bottom, 2);
  }
}

.#{$prefix-class}-h2 {
  font-family: var(--kd-font-family-heading);
  font-weight: var(--kd-font-weight-h2);
  color: var(--kd-color-h2);
  font-size: var(--kd-font-size-h2);
  line-height: var(--kd-font-height-h2);
  @include margin(top bottom, 4);
  @include device(tablet) {
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    @include margin(top bottom, 2);
  }
}

.#{$prefix-class}-h3 {
  font-family: var(--kd-font-family-heading);
  font-weight: var(--kd-font-weight-h3);
  color: var(--kd-color-h3);
  font-size: var(--kd-font-size-h3);
  line-height: var(--kd-font-height-h3);
  @include margin(top bottom, 4);
  @include device(tablet) {
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    @include margin(top bottom, 2);
  }
}

.#{$prefix-class}-h4 {
  font-family: var(--kd-font-family-heading);
  font-weight: var(--kd-font-weight-h4);
  color: var(--kd-color-h4);
  font-size: var(--kd-font-size-h4);
  line-height: var(--kd-font-height-h4);
  @include margin(top bottom, 4);
  @include device(tablet) {
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    @include margin(top bottom, 2);
  }
}

.#{$prefix-class}-h5 {
  font-family: var(--kd-font-family-heading);
  font-weight: var(--kd-font-weight-h5);
  color: var(--kd-color-h5);
  font-size: var(--kd-font-size-h5);
  line-height: var(--kd-font-height-h5);
  @include margin(top bottom, 4);
  @include device(tablet) {
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    @include margin(top bottom, 2);
  }
}

.#{$prefix-class}-h6 {
  font-family: var(--kd-font-family-heading);
  font-weight: var(--kd-font-weight-h6);
  color: var(--kd-color-h6);
  font-size: var(--kd-font-size-h6);
  line-height: var(--kd-font-height-h6);
  @include margin(top bottom, 4);
  @include device(tablet) {
    @include margin(top bottom, 3);
  }
  @include device(mobile) {
    @include margin(top bottom, 2);
  }
}

.#{$prefix-class}-link {
  &:link,
  &:visited {
    font-weight: var(--kd-font-weight-link);
    color: var(--kd-color-link);
    text-decoration: none;
  }
  &:focus {
    color: var(--kd-color-link-hover);
    text-decoration: none;
  }
  &:active {
    color: var(--kd-color-link-active);
    text-decoration: underline;
  }
  &:hover {
    color: var(--kd-color-link-hover);
    text-decoration: underline;
  }
  .#{$prefix-class}-icon {
    @include margin(left, 1);
    font-size: var(--kd-font-size-link-icon);
    font-weight: var(--kd-font-weight-link);
  }
}

.#{$prefix-class}-list {
  @include padding(left, 3);
  @include margin(top bottom, 3);
  @include device(tablet) {
    @include margin(top bottom, 2);
  }
  @include device(mobile) {
    @include margin(top bottom, 1);
  }
  &:is(ul) {
    li.#{$prefix-class}-list-item::marker {
      content: '–';
    }
  }
  .#{$prefix-class}-list-item {
    @include margin(top bottom, 2);
    @include padding(left, 1);
    @include device(tablet) {
      @include margin(top bottom, 2);
    }
    @include device(mobile) {
      @include margin(top bottom, 1);
    }
  }
}
